.no-border {
    border: 0;
}

.input-msg {
    position: fixed !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 5px 15px !important;
    border-top: 2px solid #eee !important;
    background: #fff !important;
}

strong.capitalize {
    text-transform: capitalize;
}

.collection {
    padding-bottom: 100px !important; 
}